@import url('https://fonts.googleapis.com/css?family=Paytone+One&display=swap');

*{
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	background: #ededed;
	font-family: 'Liu Jian Mao Cao', cursive;
    font-family: 'Fredoka One', cursive;
	
}
/*Trabajamos sobre el archivo index.php*/

header .encabezado{
	text-align: center;
	padding: 25px;
	margin-bottom: 50px;
}

header .encabezado h1{
	font-size: 30px;
	color: white
}

section .listaDeImagenes{
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	margin: auto;
}

section .listaDeImagenes .item{
	width: calc( 25% - 10px);
	padding: 10px;
	margin:5px;
	border:1px solid rgba(0,0,0,0.5);
	box-shadow: 10px 10px 7px grey;
	border-radius: 10px;
}

section .listaDeImagenes .item .cajaImagen{
	width: 100%;
	height:60%;
}

section .listaDeImagenes .item .cajaImagen img{
	width: 100%;
	height: 100%;
}

section .listaDeImagenes .item .descripcionImagen{
	height: 40%;
	padding: 5px;
}


/*Trabajamos sobre el archivo panelDeControl.php*/

section .bienvenida{
	background: #7A8BDD;
	color:white;
	padding: 25px;
	text-align: center;
}

section .bienvenida h1{
	font-size: 20px;
}

/*Trabajamos sobre el header*/
header{
	width: 100%;
	background: rgba(0,0,0,0.8);
}

header .portada{
	color:white;
	padding: 20px;
	border-bottom: 1px solid white;
	text-align: center;

}

header nav{
	display: flex;
}

header nav a{
	text-decoration: none;
	color:white;
	padding: 25px;
	margin:1px;
}

header nav a:hover{
	color:black;
	background: #ededed;
	margin: 1px;
}

section{
	width: 100%;
}

section .formRegistro{
	width: 40%;
	display: flex;
	flex-direction: column;
	margin:auto;
	justify-content: center;
	align-items: center;
	/*background: #4E5979;*/
	background: #7A8BDD;
	color:black;
	padding: 50px;
	margin-top: 40px;
	margin-bottom: 40px;
	border-radius: 10px;
	border:1px solid white;
	box-shadow: 10px -10px 10px grey;

} 
section .formRegistro .mensajeExitoso{
	height: 30px;
	font-size: 15px;
	color:white;
	background: green;
	padding: 5px;
	width: 500px;
	margin-bottom: 10px;
}

section .formRegistro .error{
	height: 30px;
	font-size: 15px;
	color:white;
	background: red;
	padding: 5px;
	width: 500px;
	margin-bottom: 10px;
}

section .formRegistro .cajaInformacion{
	display: flex;
	flex-direction: column;
	text-align: center;
}

section .formRegistro .cajaInformacion h1{
	font-size: 30px;
	margin-bottom: 30px;
}

section .formRegistro .cajaInformacion p{
	font-size: 20px;
	margin-bottom: 40px;

}

section .formRegistro .cajaItems{
	display: flex;
	flex-direction: column;
}

section .formRegistro .cajaItems label{
	font-size: 20px;
	margin-bottom: 10px;
}

section .formRegistro .cajaItems input{
	width: 500px;
	margin-bottom: 20px;
	height: 30px;
	font-size: 15px;
	padding: 10px;
}

section .formRegistro .cajaItems textarea{
	max-width: 500px;
	min-width: 500px;
	max-height: 300px;
	min-height: : 200px;
	margin-bottom: 20px;
	font-size: 15px;
	padding: 5px;

}

section .formRegistro .cajaItems #registrar{
	display: flex;
	margin:auto;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 50px;
	color:black;
	background: white;
	border:1px solid white;
	border-radius: 10px;
	margin-bottom: 30px;
	font-size: 20px;
}

section .formRegistro .cajaItems #registrar:hover{
    color:white;
	background: black;
}

/*Trabajamos sobr eel archivo listadoImagenes.php*/

section .listadoImagenes{
	display: flex;
	flex-direction: column;
	width: 70%;
	margin:auto;
	border: 1px solid black;
	margin-top: 20px;
	border-radius: 10px;
}

section .listadoImagenes .title{
	text-align: center;
	font-size: 20px;
	height: 60px;
	padding: 10px;

}

section .listadoImagenes .fila{
	display: flex;
	height: 70px;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

section .listadoImagenes .filaPrincipal{
	display: flex;
	background: #7A8BDD;
	color:white;
	justify-content: center;
	align-items: center;
	padding: 25px;
	height: 70px;
}

section .listadoImagenes .filaPrincipal .encabezadoPrincipal{
	width: 25%;
	
	text-align: center;
}

section .listadoImagenes .fila .encabezadoSecundario{
	width: 25%;
	margin: 20px;
	text-align: center;
	
}

section .listadoImagenes .fila .encabezadoSecundario a{
	text-decoration: none;
	color:black;
	margin: 5px;
}

section .listadoImagenes .fila .encabezadoSecundario a:hover{
	color:blue;
}
section .listadoImagenes .fila .url{
	height: 60px;
	width: 10%;

}

section .listadoImagenes .fila .url img{
	width: 100%;
	height: 100%;
}

/*Trabajamos sobre le archivo eliminarImagen.php*/

section .formDelete{
	width: 40%;
	display: flex;
	flex-direction: column;
	margin:auto;
	justify-content: center;
	align-items: center;
	background: #7A8BDD;
	color:black;
	padding: 50px;
	margin-top: 40px;
	border-radius: 10px;
	border:1px solid white;
	box-shadow: 10px -10px 10px grey;
}
section .formDelete .encabezado{
    text-align: center;
}
section .formDelete .encabezado h1{
	margin-bottom: 10px;
	font-size: 25px;
}

section .formDelete .encabezado p{
	margin-bottom: 20px;
}


section .formDelete label{
	width: 500px;
	margin-bottom: 10px;
	height: 30px;
	font-size: 15px;
}
section .formDelete input{
	width: 500px;
	margin-bottom: 20px;
	height: 30px;
	font-size: 15px;
	padding: 10px;
}
section .formDelete #delete{
	display: flex;
	margin:auto;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 50px;
	color:black;
	background: white;
	border:1px solid white;
	border-radius: 10px;
	margin-bottom: 30px;
	font-size: 20px;
}

section .formDelete #delete:hover{
	background: black;
	color:white;
}



section .formDelete .mensajeExitoso{
	height: 30px;
	font-size: 15px;
	color:white;
	background: green;
	padding: 5px;
	width: 500px;
	margin-bottom: 10px;
}

section .formDelete .error{
	height: 30px;
	font-size: 15px;
	color:white;
	background: red;
	padding: 5px;
	width: 500px;
	margin-bottom: 10px;
}

